<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Hotle Motel</title>

    <script src="https://code.jquery.com/jquery.js"></script>

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
  
    <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r121/three.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/vanta@latest/dist/vanta.birds.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/100/three.min.js"></script>
    <script src= "/assets/js/public.js"></script>

    <link rel="stylesheet" src = "/assets/css/style.css"> 

    <link rel='stylesheet' href='/box-shadows.css'> 
     <!-- or -->
    <link rel='stylesheet' href='/box-shadows.css'>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

   
</head>
<body>

    {{{body}}}


</body>
</html>