<div>
<style>
  @import url(https://fonts.googleapis.com/css?family=Satisfy);
  @import url(https://fonts.googleapis.com/css?family=Six+Caps);

  body {
    text-align: center;
  }


  .vintage {
    font-family: 'Six Caps', sans-serif;
    font-size: 100px;
    letter-spacing: 10px;
    line-height: 1;
    margin: 0;
    position: relative;
    color: rgb(1, 1, 44);
  }


  ::placeholder {
    color: rgb(30, 37, 55);
    opacity: 1;
  }

  .enterbtn {
    background-color: rgb(0, 209, 255)
  }
</style>
<div class="container-fluid"  id="vanta">
  <div class="row">
    <div class="col s3"></div>
    <div class="col s6"
      style="margin-top: 400px; margin-bottom: 300px; height:250px; background-color: rgba(0,0, 0, 0);">

      <div class="form-group">

        <input type="email" class="form-control black-text" style=" background:#7FFFD4;
            border-radius: 25px; opacity: 1; text-align:center; text-color: " id="email-input"
          placeholder="Employee ID">
      </div>
      <div class="form-group">

        <input type="password" class="form-control password-enter" id="password-input" style=" background:#7FFFD4;
            border-radius: 25px; opacity: 1; text-align: center;" placeholder="Password">
        <button class="enterbtn btn"> LOGIN</button>
        <button class="enterbtn btn"> CONTINUE AS A GUEST</button>
      </div>
    </div>
    <div class="col s3"></div>
    <div class="row">
      <div class="col s12"></div>
    </div>
  </div>
</div>
<script>
  VANTA.BIRDS({
    el: "#vanta",
    mouseControls: true,
    touchControls: true,
    gyroControls: false,
    minHeight: 200.00,
    minWidth: 200.00,
    scale: 1.00,
    scaleMobile: 1.00,
    backgroundColor: 0x1e2537,
    color1: 0x23845c
  })
</script>
</div>