<style>

  @import url(https://fonts.googleapis.com/css?family=Satisfy); 
  @import url(https://fonts.googleapis.com/css?family=Six+Caps);

  body {
  text-align: center;
  }


  .vintage {
  font-family: 'Six Caps', sans-serif;
  font-size: 100px;
  letter-spacing: 10px;
  line-height: 1;
  margin: 0;
  position: relative;
  color: rgb(1, 1, 44);
  }

    
</style>



<div class="container-fluid" id="show" style="display:none;">

   
  <div class="vintage__container" style= "display: inline-block;  margin: 25px auto 40px;
  margin: 25px auto 40px;"> 
      <p class="vintage">HOTEL MOTELS</p>
  </div>


  <div class="row adjust">
    <div class="col s1"></div>
    <div class="col s4 card z-depth-3" style="margin-top: 40px; height: 350px;">
      <form>
        <div class="form-group">
          <h5 class="navy-text text-darken-4">Guest Information</h5>
          <label for="name">Guest name:</label>
          <input type="text" class="form-control" id="guest-name">
        </div>
        <div class="form-group">
          <label for="name">Number of rooms:</label>
          <input type="text" class="form-control" id="guest-room-count">
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Guest phone number:</label>
          <input type="text" class="form-control" id="guest-phone">
        </div>
        <button type="submit" class="btn btn-primary" id="create-guest"
          style="margin-top: 20px;">Submit Reservation<i class="material-icons right">group</i></button>
      </form>
    </div>
    <div class="col s1"></div>
    <div class="col s5 card adjust z-depth-3" style="margin-top: 40px; max-height: 300px; overflow-y: auto;">
     <h5 class="navy-text text-darken-4">Guests who have arrived: </h5>
      <ul>
        {{#each Guest}}
        {{#unless status}}
        {{> guests/guests-block status=true}}
        {{/unless}}
        {{/each}}
      </ul>
    </div>
    <div class="col s1"></div>
  </div>
  <div class="row">
    <div class="col s1"></div>
    <div class="col s4 card z-depth-3" style="height: auto; margin-top: 40px;">
      <h5 class="navy-text text-darken-4">Daily Occupancy</h5>
      <table>
        <tbody>
          <tr>
            <td class="tile">
              <div class="tile">
              <p id="tile1" class="tilestyle"> 1 </p>
              </div>
            </td>
            <td class="tile">
              <p id="tile2" class="tilestyle"> 2 </p>
            </td>
            <td class="tile">
              <p id="tile3" class="tilestyle"> 3 </p>
            </td>
            <td class="tile">
              <p id="tile4" class="tilestyle"> 4 </p>
            </td>
            <td class="tile">
              <p id="tile5" class="tilestyle"> 5 </p>
            </td>
          </tr>
          <tr>
            <td class="tile">
              <p id="tile6" class="tilestyle"> 6 </p>
            </td>
            <td class="tile">
              <p id="tile7" class="tilestyle"> 7 </p>
            </td>
            <td class="tile">
              <p id="tile8" class="tilestyle"> 8 </p>
            </td>
            <td class="tile">
              <p id="tile9" class="tilestyle"> 9 </p>
            </td>
            <td class="tile">
              <p id="tile10" class="tilestyle"> 10 </p>
            </td>
          </tr>
          <tr>
            <td class="tile">
              <p id="tile11" class="tilestyle"> 11 </p>
            </td>
            <td class="tile">
              <p id="tile12" class="tilestyle"> 12 </p>
            </td>
            <td class="tile">
              <p id="tile13" class="tilestyle"> 13 </p>
            </td>
            <td class="tile">
              <p id="tile14" class="tilestyle"> 14 </p>
            </td>
            <td class="tile">
              <p id="tile15" class="tilestyle"> 15 </p>
            </td>
          </tr>
          <tr>
            <td class="tile">
              <p id="tile16" class="tilestyle"> 16 </p>
            </td>
            <td class="tile">
              <p id="tile17" class="tilestyle"> 17 </p>
            </td>
            <td class="tile">
              <p id="tile18" class="tilestyle"> 18 </p>
            </td>
            <td class="tile">
              <p id="tile19" class="tilestyle"> 19 </p>
            </td>
            <td class="tile">
              <p id="tile20" class="tilestyle"> 20 </p>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col s1"></div>
    <div class="col s5 card z-depth-4" style="margin-top: 40px; max-height: 300px; overflow-y: auto;">
      <h5 class="navy-text text-darken-4">Checked in Guests</h5>
      <ul>
        {{#each Guest}}
        {{#if status}}
        {{> guests/guests-block status=false}}
        <button class="btn btn-primary delete" data-id="{{this.id}}">Check Out<i class="material-icons right">work</i></button>
        {{/if}}
        {{/each}}
      </ul>
    </div>
    <div class="col s1"></div>
  </div>
</div>
<div class="container-fluid" style="display:block" id="vanta">
  <div class="row">
    <div class="col s3"></div>
    <div class="col s6 card opaque"
      style="margin-top: 400px; margin-bottom: 300px; height:200px; background-color: rgba(0,0, 0, 0);">
      <p style="text-align: center;
    ">
        Splash Page
      </p>
      <button style="margin-left: 182px" id="enterbtn"> Click Me</button>
    </div>
    <div class="col s3"></div>
    <div class="row">
      <div class="col s12"></div>
    </div>
  </div>
</div>

 