<div class="container-fluid">



  <nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo center">Logo</a>

    </div>
  </nav>




  <div class="row adjust">

    <div class="col s5 card">

      <form>
        <div class="form-group">
          <label for="name">Guest name:</label>
          <input type="text" class="form-control" id="guest-name">
        </div>
        <div class="form-group">
          <label for="name">Number of rooms:</label>
          <input type="text" class="form-control" id="guest-room-count">
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Guest phone number:</label>
          <input type="text" class="form-control" id="guest-phone">
        </div>
        <div class="form-check">
          <input type="checkbox" class="form-check-input" id="exampleCheck1">
          <label class="form-check-label" for="exampleCheck1">Maybe switch for check in</label>
        </div>
        <button type="submit" class="btn btn-primary" id="create-guest">Submit Reservation</button>
      </form>
    </div>

    <div class="col s1"></div>

    <div class="col s6 card adjust">

      <p> Guests who have arrived:</p>
      <ul>

        {{#each Guest}}
        {{name}}
        {{#unless status}}
        {{> guests/guests-block status=true}}
        {{/unless}}
        {{/each}}

      </ul>
    </div>

    <div class="row">

      <div class="col s5 card">
        third card here
      </div>

      <div class="col s1"></div>

      <div class="col s6 card">
        <p> Guests who are checked in:</p>
        <ul>
          {{#each Guest}}
          {{#if status}}
          {{> guests/guests-block status=false}}
          {{/if}}
          {{/each}}
        </ul>
      </div>
    </div>
  </div>
</div>