


<form>
      <div>
          <input type="text" class="form-control" id="name">
          <input type="text" class="form-control" id="number-rooms">
          <input type="text" class="form-control" id="phone">
          <label for="exampleInputPassword1">Enter a burger and click "Submit".</label>
      </div>

      <button type="submit" class="btn btn-primary create-form" id="create-guest">Submit New Guest</button>
</form>