<div class="container-fluid">
  <nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo center">Logo</a>

    </div>
  </nav>
  <div class="row adjust">

    <div class="col s1"></div>

    <div class="col s4 card" style="margin-top: 40px; height: 300px;">

      <form>
        <div class="form-group">
          <label for="name">Guest name:</label>
          <input type="text" class="form-control" id="guest-name">
        </div>
        <div class="form-group">
          <label for="name">Number of rooms:</label>
          <input type="text" class="form-control" id="guest-room-count">
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Guest phone number:</label>
          <input type="text" class="form-control" id="guest-phone">
        </div>

        <button type="submit" class="btn btn-primary" id="create-guest"
          style="margin-top: 20px;margin-left: 130px;">Submit Reservation</button>
      </form>
    </div>

    <div class="col s1"></div>

    <div class="col s5 card adjust" style="margin-top: 40px; max-height: 300px; overflow-y: auto;">

      <p> Guests who have arrived:</p>
      <ul>
        {{#each Guest}}
        {{#unless status}}
        {{> guests/guests-block status=true}}
        {{/unless}}
        {{/each}}
      </ul>



    </div>




    <div class="col s1"></div>

  </div>


  <div class="row">
    <div class="col s1"></div>
    <div class="col s4 card" style="height: 300px; margin-top: 40px;">
      <table>
        <tbody>
          <tr>
            <td class="tile" >
              <h3 id="tile1"> 1 </h3>
            </td>
            <td class="tile">
              <h3 id="tile2"> 2 </h3>
            </td>
            <td class="tile" >
              <h3 id="tile3"> 3 </h3>
            </td>
            <td class="tile" >
              <h3 id="tile4"> 4 </h3>
            </td>
            <td class="tile" >
              <h3 id="tile5"> 5 </h3>
            </td>
          </tr>
           <tr>
            <td class="tile">
              <h3 id="tile6"> 6 </h3>
            </td>
            <td class="tile">
              <h3 id="tile7"> 7 </h3>
            </td>
            <td class="tile">
              <h3 id="tile8"> 8 </h3>
            </td>
            <td class="tile">
              <h3 id="tile9"> 9 </h3>
            </td>
            <td class="tile">
              <h3 id="tile10"> 10 </h3>
            </td>
            
          </tr>
           <tr>
            <td class="tile">
              <h3 id="tile11"> 11 </h3>
            </td>
            <td class="tile">
              <h3 id="tile12"> 12 </h3>
            </td>
            <td class="tile">
              <h3 id="tile13"> 13 </h3>
            </td>
            <td class="tile">
              <h3 id="tile14"> 14 </h3>
            </td>
            <td class="tile">
              <h3 id="tile15"> 15 </h3>
            </td>
            
          </tr>
           <tr>
            <td class="tile">
              <h3 id="tile16"> 16 </h3>
            </td>
            <td class="tile">
              <h3 id="tile17"> 17 </h3>
            </td>
            <td class="tile">
              <h3 id="tile18"> 18 </h3>
            </td>
            <td class="tile">
              <h3 id="tile19"> 19 </h3>
            </td>
            <td class="tile">
              <h3 id="tile20"> 20 </h3>
            </td>
            
          </tr>
        </tbody>
      </table>
    </div>
    
    <div class="col s1"></div>
    <div class="col s5 card" style="margin-top: 40px; max-height: 300px; overflow-y: auto;">
      <p> Guests who are checked in:</p>
      <ul>
        {{#each Guest}}
        {{#if status}}
        {{> guests/guests-block status=false}}
        <button class="btn btn-primary delete" data-id="{{this.id}}">Check Out</button>
        {{/if}}
        {{/each}}

      </ul>
    </div>
    <div class="col s1"></div>
  </div>

</div>