<li style = "height: 30px">
	{{name}}
	{{#if status}}
	<button class="change-status btn indigo darken-3" data-id="{{this.id}}" data-newStatus="{{this.status}}" style= "float: right; height: 35px"> Check In<i class="material-icons right">input</i></button>{{/if}}
</li>
<hr>