<li style = "height: 30px">
	{{name}}
	
	{{#if status}}
	<button class="change-status btn btn-primary" data-id="{{this.id}}" data-newStatus="{{this.status}}" style= "float: right; height: 35px"> Check In</button>{{/if}}

</li>
<hr>